@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&subset=vietnamese');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.653);
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  text-shadow: 0 .2px .3px rgba(0, 0, 0, 0.353);
}
img {
    max-width: 100%;
}
.anhnen {
  align-items: flex-end;
  position: absolute;
  top: 90px;
  right: 10px;
  width: 533px;
  height: 600px;
}
.box {
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0, .1);
  padding: 1rem;
  width: 50%;
  border-radius: 26px;
}
.about {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 3rem;
  margin-top: 10px;
  position: relative;
}
.music {
  height: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.audio {
  position: absolute;
  left: 35%;
}
.info {
  display: flex;
  align-items: center;
}
.info:first-child{
  flex-grow: 1;
}
.info:last-child .avatar {
  order: 1;
}
.info:last-child .detail {
  text-align: right;
}
.avatar{
  width: 70px;
  border-radius: 50%;
}
.heart{
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  transform-origin: 50% 50%;
  opacity: .8;
  animation: heartBeat 1s ease-in-out infinite;
}
.info .details {
  margin: 0 1rem;
}
.info .details p {
  margin: 10px;
}
.name {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.born {
  font-weight: 300;
}
.talk {
  text-align: center;
  margin-top: 6rem;
  font-weight: 100;
  color: tomato;
  opacity: .8;
  margin-bottom: 0; 
}
.snowflake {
  color: rgb(255, 255, 255);
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}
@-webkit-keyframes snowflakes-fall{
  0%{
      top:-10%
  }
  100%{
      top:100%
  }
}
@-webkit-keyframes snowflakes-shake{
  0%,100%{
      -webkit-transform:translateX(0);
      transform:translateX(0)
  }
  50%{
      -webkit-transform:translateX(80px);
      transform:translateX(80px)
  }
}
@keyframes snowflakes-fall{
  0%{
    top:-10%
  }
  100%{
    top:100%
  }
}
@keyframes snowflakes-shake{
  0%,100%{
    transform:translateX(0)
  }
  50%{
    transform:translateX(80px)
  }
}
.snowflake{
  position:fixed;
  top:-10%;
  z-index:9999;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
  -webkit-animation-name:snowflakes-fall,snowflakes-shake;
  -webkit-animation-duration:10s,3s;
  -webkit-animation-timing-function:linear,ease-in-out;
  -webkit-animation-iteration-count:infinite,infinite;
  -webkit-animation-play-state:running,running;
  animation-name:snowflakes-fall,snowflakes-shake;
  animation-duration:10s,3s;
  animation-timing-function:linear,ease-in-out;
  animation-iteration-count:infinite,infinite;
  animation-play-state:running,running
}
.snowflake:nth-of-type(0){
  left:1%;
  -webkit-animation-delay:0s,0s;
  animation-delay:0s,0s
}
.snowflake:nth-of-type(1){
  left:10%;
  -webkit-animation-delay:1s,1s;
  animation-delay:1s,1s
}
.snowflake:nth-of-type(2){
  left:20%;
  -webkit-animation-delay:6s,.5s;
  animation-delay:6s,.5s
}
.snowflake:nth-of-type(3){
  left:30%;
  -webkit-animation-delay:4s,2s;    
  animation-delay:4s,2s
}
.snowflake:nth-of-type(4){
  left:40%;
  -webkit-animation-delay:2s,2s;
  animation-delay:2s,2s
}
.snowflake:nth-of-type(5){
  left:50%;
  -webkit-animation-delay:8s,3s;
  animation-delay:8s,3s
}
.snowflake:nth-of-type(6){
  left:60%;
  -webkit-animation-delay:6s,2s;
  animation-delay:6s,2s
}
.snowflake:nth-of-type(7){
  left:70%;
  -webkit-animation-delay:2.5s,1s;
  animation-delay:2.5s,1s 
}
.snowflake:nth-of-type(8){
  left:80%;
  -webkit-animation-delay:1s,0s;
  animation-delay:1s,0s
}
.snowflake:nth-of-type(9){
  left:90%;
  -webkit-animation-delay:3s,1.5s;
  animation-delay:3s,1.5s
}
.snowflake:nth-of-type(10){
  left:25%;
  -webkit-animation-delay:2s,0s;
  animation-delay:2s,0s
}
.snowflake:nth-of-type(11){
  left:65%;
  -webkit-animation-delay:4s,2.5s;
  animation-delay:4s,2.5s
}
@keyframes heartBeat {
  0% {
    transform: scale(.9);
  }

  45% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(.9);
  }
}
@media (max-width: 997px) {
  .box {
    width: 84%;
    margin-bottom: 2rem;
  }

  .title {
    margin: 2rem 0 1rem 0;
    font-size: 18px;
  }
  
  .about {
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 0;
  }

  .info {
    flex-direction: column;
  }

  .avatar {
    margin-bottom: .5rem;
  }

  .info p {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 13px;
  }

  .info:last-child .avatar {
    order: 0;
  }

  .heart {
    position: relative;
    margin: 1.4rem 0;
  }

  .say-thank {
    margin-top: 2rem;
  }
  .anhnen {
      display: none;
  }
}